.ai-information:not(.inline) {
  position: absolute;
  right: 4px;
  bottom: 0;
  /* This 'inherit' and the next one make sure the autoflagging information
  is readable *over* the chat message itself, but uses the default background
  of the chatroom messages. */
  background: inherit;
}
div.message {
  background: inherit;
}
.reply-parent .ai-information:not(.inline) {
  background: silver;
}
.ai-information {
  font-size: 11px;
  -webkit-user-select:none;-moz-user-select:none;-ms-user-select none;user-select:none;
  cursor: default;
  padding-left: 0.25em;
  padding-right: 1px;
}
.ai-spinner {
  height: 1.5em;
}
.ai-information > * > *, .ai-feedback-info {
  margin: 0 0.25em;
}
.ai-information > :last-child > :last-child {
  margin-right: 0;
}
.ai-deleted, .ai-flag-count.ai-not-autoflagged {
  transition: opacity 0.4s;
}
.ai-deleted:not(:hover), .ai-flag-count.ai-not-autoflagged {
  opacity: 0.5;
}
.ai-flag-count {
  color: inherit;
  text-decoration: none !important;
}
.ai-flag-count::after {
  content: " ⚑";
}
.ai-flag-count.ai-not-autoflagged::after {
  content: "⚑";
}

.ai-feedback-info-tpu {
  color: #3c763d;
}
.ai-feedback-info-fp {
  color: #a94442;
}
.ai-feedback-info-naa {
  color: #825325;
}

.ai-feedback-info-tpu::after {
  content: " ✓";
}
.ai-feedback-info-fp::after {
  content: " ✗";
}
.ai-feedback-info-naa::after {
  content: " 💩";
}
.no-emoji .ai-feedback-info-naa::after {
  content: " " url(https://charcoal-se.org/userscripts/emoji/naa.png)
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .no-emoji .ai-feedback-info-naa::after {
    content: " " url(https://charcoal-se.org/userscripts/emoji/naa-2x.png)
  }
}
