---
---

$blur: blur(2px);
$zIndex: 100;

$button-green: #3b0;
$button-red: #f00;
$button-orange: #f80;
$button-blue: #00f;

$shadow-color: #646464;
$transitionTime: 0.4s;
$codeBlockColor: #eff0f1;
$codeFont: Fira Code,Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;

@mixin button-gradient($color) {
  $light: lighten($color, 20%);
  $dark: darken($color, 10%);

  border: 1px solid $dark;
  background-color: $dark;
  background: -webkit-gradient(linear, left top, left bottom, from($light), to($dark));
  background: -moz-linear-gradient(top, $light, $dark);
  background: linear-gradient(to bottom, $light, $dark);

  &.fire-submitted {
    text-decoration: underline;
  }

  &.fire-submitted,
  &:hover {
    -webkit-box-shadow: 0 -6px 6px 0 transparentize($light, 0.5);
    -moz-box-shadow: 0 -6px 6px 0 transparentize($light, 0.5);
    box-shadow: 0 -6px 6px 0 transparentize($light, 0.5);
  }
}

img.fire-emoji {
  width: 16px;
  height: 16px;
}

img.fire-emoji-large {
  width: 24px;
  height: 24px;
}

#toast-container {
  margin-top: 4px;

  > div.toast {
    opacity: 1;
  }

  a {
    text-decoration: underline;
    font-style: italic;
  }
}

.fire-blur {
  -webkit-filter: $blur;
  -moz-filter: $blur;
  -ms-filter: $blur;
  -o-filter: $blur;
  filter: $blur;
}

.fire-popup-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.fire-button {
  cursor: pointer;

  &.fire-done {
    filter: grayscale(100%);
    opacity: 0.5;
  }

  .fire-emoji {
    position: relative;
    top: -2px;
  }
}

// Popup container
.fire-popup {
  width: 600px;
  max-height: 500px;
  position: fixed;
  z-index: $zIndex;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px $shadow-color;

  // Header
  .fire-popup-header {
    min-height: 40px;

    a.button {
      margin: 0;

      &.fire-metasmoke-button {
        margin-right: 10px;
      }

      &.fire-close-button,
      &.fire-metasmoke-button {
        float: right;
        margin-bottom: 0;
      }

      &.fire-feedback-button {
        float: left;
        margin-right: 2px;
        transition: all 0.2s ease;

        &[disabled] {
          cursor: no-drop;
          opacity: 0.5;
        }

        &.fire-tpu-,
        &.fire-rude,
        &.fire-tp- { @include button-gradient($button-green); }
        &.fire-fp- { @include button-gradient($button-red); }
        &.fire-naa- { @include button-gradient($button-orange); }

        &.focus,
        &.fire-metasmoke { @include button-gradient($button-blue); }
      }
    }

    .fire-site-logo {
      background-position: top left;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 40px;
      position: relative;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 26px;
      color: #444;
      padding: 0 0 0 40px;
      line-height: 40px;
      white-space: nowrap;
      cursor: pointer;
      text-decoration: none;
      max-width: 440px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .fire-popup-feedbackButtonContainer {
      display: inline-block;
      vertical-align: middle;
    }

    .fire-popup-feedbackButtonGroup {
      display: inline-block;
      vertical-align: middle;
    }
  } // End Header

  // Body
  .fire-popup-body {
    max-height: 380px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 10px -3px $shadow-color;
    position: relative;

    .fire-report-info .fire-username {
      float: right;
      font-weight: normal;
      margin-top: -17px;

      .fire-user-reputation {
        font-size: 0.8em;

        &.fire-has-rep {
          background-image: radial-gradient(ellipse at center, rgba(255, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 75%);
        }
      }
    }

    .fire-reported-post { // This is the div inside which the post is displayed.
      padding: 10px;
      margin: 0 -10px -10px -10px;

      &.fire-deleted {
        background-color: #f4eaea;
      }

      img {
        max-width: 100%;

        &[src^='http://placehold.it'] {
          cursor: pointer;
        }
      }

      a {
        font-weight: bold;
        text-decoration: underline;
        padding: 1px 5px;
        border-radius: 3px;
        box-shadow: 0 0 10px -2px $shadow-color;
        display: inline-block;
      }

      blockquote {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #FFF8DC;
        border-left: 2px solid #ffeb8e;
      }

      li {
        margin-left: 10px;
      }

      h1 {
          font-size: 21px;
      }

      h2 {
          font-size: 19px;
      }

      h3 {
          font-size: 17px;
      }

      h1, h2, h3 {
        line-height: 1.3;
        margin: 0 0 1em;
      }

      a {
        .href {
          display: none;
          word-break: break-all;
        }

        &:hover {
          .href {
            display: inline;
          }

          .text {
            display: none;
          }
        }
      }

      pre {
        margin-bottom: 1em;
        width: auto;
        max-height: 100px;
        overflow: auto;
        font-family: $codeFont;
        font-size: 13px;
        background-color: $codeBlockColor;
        box-shadow: 0 0 10px -1px $shadow-color;
        border-radius: 3px;
        padding: 6px 10px;
        -webkit-transition: max-height $transitionTime;
        -moz-transition: max-height $transitionTime;
        transition: max-height $transitionTime;

        &.fire-expanded {
          max-height: 400px;
        }

        &.fire-markdown {
          max-height: none;
          white-space: pre-wrap;
        }

        code {
          padding: 0;
        }
      }

      code {
        font-family: Fira Code,Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
        font-size: 13px;
        background-color: #eff0f1;
        padding: 1px 5px;
      }


      // Tags: Ideally, these would be colored per-site
      a.post-tag {
        color: rgb(57, 115, 157);
        background-color: rgb(225, 236, 244);
        border-color: transparent;
      }

      a.post-tag {
        display: inline-block;
        padding: .4em .5em;
        margin: 2px 2px 2px 0;
        font-size: 11px;
        line-height: 1;
        white-space: nowrap;
        text-decoration: none;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
      }
    } // End .fire-reported-post
  } // End body

  .fire-version-link {
    margin: 2px 2px -14px 0;
    float: right;
    font-size: 0.8em;
  }

  .fire-settings-button {
    float: right;
    margin: 0 -16px -20px 0;
    cursor: pointer;
    text-decoration: none;
    line-height: 16px;

    &:hover {
      animation: spinner 0.6s linear infinite;
    }
  }

  .fire-popup-input {
    padding: 3px 6px;
    border-radius: 6px;
    margin: 0 4px;
  }

  .fire-position-select {
    text-transform: capitalize;
  }

  .fire-tooltip {
    position: fixed;
    background: #eee;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 #888;
    border: 1px solid #bbb;
    pointer-events: none;
    z-index: $zIndex;
    white-space: pre-line;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    max-width: 70vw;
    cursor: pointer;
  }

  &#fire-settings {
    .fire-popup-header h2 {
      display: inline-block;
    }

    .fire-settings-section {
      width: 290px;
      display: inline-block;
      vertical-align: top;
      padding: 5px;
    }

    #toastr_duration {
      max-width: 50px;
      margin-top: 4px;
    }
  }
} // End Popup container

.fire-popup.fire-readonly {
  .fire-popup-header .fire-site-logo {
    max-width: 475px;
  }
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}
