.ai-fire-popup {
  width: 600px;
  height: 600px;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px #646464;
}

.ai-fire-button {
  cursor: pointer;
}

.ai-fire-popup .ai-fire-popup-header {
  height: 40px;
}

.ai-fire-popup .ai-fire-popup-header a.button {
  margin: 0;
}

.ai-fire-popup .ai-fire-popup-header a.button.ai-fire-close-button {
  float: right;
}

.ai-fire-popup .ai-fire-popup-header a.button.ai-fire-feedback-button {
  float: left;
  margin-right: 2px;
}
.ai-fire-popup .ai-fire-popup-header a.button.focus {
  border: 1px solid #43c407;
  background-color: #43c407;
  background: -webkit-gradient(linear,left top,left bottom,from(#54fc07),to(#43c407));
  background: -moz-linear-gradient(top,#54fc07,#43c407);
  background: linear-gradient(top,#54fc07,#43c407);
}

.ai-fire-popup .ai-fire-popup-body {
  height: 520px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 10px -3px #646464;
}

.ai-fire-popup .ai-fire-popup-body a .href {
  display: none;
  word-break: break-all;
}

.ai-fire-popup .ai-fire-popup-body a:hover .href {
  display: inline;
}

.ai-fire-popup .ai-fire-popup-body a:hover .text {
  display: none;
}
