---
---

$blur: blur(2px);
$zIndex: 100;

$button-green: #33bb00;
$button-red: #ff0000;
$button-orange: #ff8800;
$button-blue: #0000ff;

$shadow-color: #646464;
$transitionTime: 0.4s;

@mixin button-gradient($color) {
  $light: lighten($color, 20%);
  $dark: darken($color, 10%);
  border: 1px solid $dark;
  background-color: $dark;
  background: -webkit-gradient(linear, left top, left bottom, from($light), to($dark));
  background: -moz-linear-gradient(top, $light, $dark);
  background: linear-gradient(top, $light, $dark);
}

.fire-blur {
  -webkit-filter: $blur;
  -moz-filter: $blur;
  -ms-filter: $blur;
  -o-filter: $blur;
  filter: $blur;
}

.fire-popup-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.fire-button {
  cursor: pointer;

  &.fire-plain {
    font-weight: bold;
    color: firebrick;
    background: -webkit-linear-gradient(#ff4900, #e98646, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      font-style: italic;
    }
  }
}

// Popup container
.fire-popup {
  width: 600px;
  max-height: 500px;
  overflow: hidden;
  position: fixed;
  z-index: $zIndex;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px $shadow-color;

  // Header
  .fire-popup-header {
    height: 40px;

    a.button {
      margin: 0;

      &.fire-close-button {
        float: right;
      }

      &.fire-feedback-button {
        float: left;
        margin-right: 2px;

        &.fire-submitted {
          text-decoration: underline;
        }

        &[disabled] {
          cursor: no-drop;
          opacity: 0.5;
        }

        &.fire-tpu-,
        &.fire-tp- { @include button-gradient($button-green); }
        &.fire-fp- { @include button-gradient($button-red); }
        &.fire-naa- { @include button-gradient($button-orange); }
        &.focus { @include button-gradient($button-blue); }
      }
    }

    .fire-site-logo {
      background-position: top left;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      width: 60px;
      height: 60px;
      position: relative;
      top: -18px;
      left: 4px;
      font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
      font-size: 30px;
      color: #444;
      padding: 0 0 0 60px;
      line-height: 60px;
      text-transform: capitalize;
      cursor: pointer;
      text-decoration: none;
    }
  } // End Header

  // Body
  .fire-popup-body {
    max-height: 420px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 10px -3px $shadow-color;
    position: relative;

    a {
      .href {
        display: none;
        word-break: break-all;
      }

      &:hover {
        .href {
          display: inline;
        }
        .text {
          display: none;
        }
      }
    }

    pre {
      margin-bottom: 1em;
      padding: 5px;
      width: auto;
      max-height: 100px;
      overflow: auto;
      font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
      font-size: 13px;
      background-color: #eff0f1;
      box-shadow: 0 0 10px -1px $shadow-color;
      border-radius: 3px;
      padding: 6px 10px;
    	-webkit-transition: max-height $transitionTime;
    	-moz-transition: max-height $transitionTime;
    	transition: max-height $transitionTime;

      &.fire-expanded {
        max-height: 400px;
      }
    }
  } // End body

  .fire-popup-input {
    padding: 3px 6px;
    border-radius: 6px;
    margin: 0 4px;
  }

  .fire-tooltip {
    position: fixed;
    background: #eee;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 #888;
    border: 1px solid #bbb;
    pointer-events: none;
    z-index: $zIndex;
  }
} // End Popup container
